bin/compute-accuracy
bin/distance
bin/word-analogy
bin/word2phrase
bin/word2vec
data/text8.gz
data/vectors-phrase
data/news.2012.en.shuffled
data/text8
data/text8-vector.bin
data/news.2012.en.shuffled-norm0
data/news.2012.en.shuffled-norm0-phrase0
data/news.2012.en.shuffled-norm0-phrase1
data/news.2012.en.shuffled-norm1-phrase1
data/vectors-phrase.bin
